
.MenuHigh{
    position: absolute;
    width: 1440;
height: 82px;
left: 0%;
right: 0%;
top: 0px;

}
.rectangle-1{
 
position: absolute;
height: 2px;
left: 0%;
right: 0%;
top: 80px;

background: #000000;
border-radius: 0px;

}
.rectangle-2{

position: absolute;
height: 2px;
left: 0%;
right: 0%;
top: 1px;

background: #000000;
border-radius: 0px;

}
.rectangle-3{
   
position: absolute;
height: 82px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFFF;
border-radius: 0px;

}
.rectangle-4{
       
box-sizing: border-box;

position: absolute;
height: 81px;
left: 0%;
right: 0%;
top: 0px;

border: 2px solid #1A1A1A;
border-radius: 0px;

    }
    .rectangle-5{
      
box-sizing: border-box;

position: absolute;
height: 81px;
left: 0%;
right: 0%;
top: 0px;

border: 2px solid #000000;
border-radius: 0px;

 }
 .rectangle-6{
      
position: absolute;
height: 108px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;

 }
.Menu1{

position: absolute;
height: 55px;
left: 83.75%;
right: 3.75%;
top: 15px;

}
.Menu1text{
   
position: absolute;
width: 145px;
height: 35px;
left: calc(50% - 145px/2 - 2.5px);
top: 9px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 34px;
/* or 155% */
text-align: center;

color: #000000;

}
.Menu2{
    
position: absolute;
height: 81px;
left: 68.75%;
right: 18.54%;
top: 1px;

}
.Menu2text{
  
position: absolute;
width: 96px;
height: 35px;
left: calc(50% - 96px/2 + 0.5px);
top: 23px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 34px;
/* or 155% */
text-align: center;

color: #000000;

}
.Menu3{
    
position: absolute;
height: 81px;
left: 43.54%;
right: 43.75%;
top: 1px;


    }
    .Menu3text{
    
position: absolute;
width: 70px;
height: 35px;
left: calc(50% - 70px/2 + 0.5px);
top: 23px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 34px;
/* or 155% */
text-align: center;

color: #000000;
    
    }

    .Menu4{
    
position: absolute;
height: 108px;
left: 4.72%;
right: 86.25%;
top: -19px;
        
            }
            .Menu4text{
           
position: absolute;
height: 109px;
left: 0%;
right: 4.62%;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 69px;
line-height: 108px;
/* identical to box height, or 157% */

color: #000000;
            
            }
.rectangle-7{

box-sizing: border-box;

position: absolute;
height: 81px;
left: 0%;
right: 0%;
top: 0px;

border: 2px solid #1A1A1A;
border-radius: 0px;

 }
.Menu5{
   
position: absolute;
height: 81px;
left: 30.97%;
right: 56.32%;
top: 1px;

}
.Menu5text{

position: absolute;
width: 38px;
height: 35px;
left: calc(50% - 38px/2 + 0.5px);
top: 23px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 34px;
/* or 155% */
text-align: center;

color: #000000;

}

.rectangle-8{

box-sizing: border-box;

position: absolute;
height: 81px;
left: 0%;
right: 0%;
top: 0px;

border: 2px solid #000000;
border-radius: 0px;
    
     }
    .Menu6{
    
position: absolute;
height: 81px;
left: 56.11%;
right: 31.11%;
top: 1px;

    }
    .Menu6text{

position: absolute;
width: 86px;
height: 35px;
left: calc(50% - 86px/2);
top: 23px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 34px;
/* or 155% */
text-align: center;

color: #000000;

    }
    .rectangle-9{

position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 30px;

             }

.Frame1{
  
position: absolute;
height: 720px;
left: 0%;
right: 0%;
top: 97px;

}
.Frame1-1{

position: absolute;
height: 130px;
left: 9.03%;
right: 11.81%;
top: 366px

}
.Frame1-1text{
    
position: absolute;
height: 131px;
left: 0%;
right: 6.05%;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 84px;
line-height: 130px;
/* identical to box height, or 155% */

color: #000000;

}
.Frame1-1Rectangle{
   
position: absolute;
height: 130px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;

}
.Frame1-1{
   
position: absolute;
height: 578px;
left: 57.78%;
right: 8.33%;
top: 71px;

background: url(image.png);
border-radius: 0px;

}