@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center; /* Центрирование контейнера по горизонтали */
    align-items: center; /* Центрирование контейнера по вертикали */
    height: 100vh;
    background-color: #FFFFFF; /* Фон страницы */
    margin: 0 auto;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
.mobile-only-content {
    display: none; /* По умолчанию скрыт для больших экранов */
}
a {
    text-decoration: none;
}
.BG{
  
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 16px;
gap: 10px;

position: absolute;
width: 120px;
height: 240px;
left: 0px;
top: 0px;

background: #bab2b2;

}
.TABmenu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    margin: 0 auto;
}
.TABmenu div {
    
    width: 100%;
    height: 4px;
    background-color: black;
}

.mobile-only-content {
    position: relative;
}

.burger-menu-content {
    display: none;
    position: absolute;
    top: 60px;
    left: -110px;
    width: 300px;
    height: 440px;
    background-color: gray;
    border: 1px solid #ccc;
    z-index: 1000;
}

.burger-menu-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 1000%;
    justify-content: space-around;
    align-items: center;
}

.burger-menu-links li {
    width: 100%;
    text-align: center;
    
}

.burger-menu-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 5px 0;
}

.burger-menu-links a:hover {
    background-color: #555;
}

.burger-menu-content.active {
    display: flex;
}



.MenuHigh{
    position: absolute;
    width: 1440;
height: 82px;
left: 0%;
right: 0%;
top: 0px;
max-width: 1440px;
width: 100%;
display: flex;
justify-content: center;
margin: 0 auto;
}
.rectangle-1{
 
position: absolute;
height: 2px;
left: -100%;
right: -100%;
top: 80px;

background: #000000;
border-radius: 0px;

}
.rectangle-2{

position: absolute;
height: 2px;
left: -100%;
right: -100%;
top: 1px;

background: #000000;
border-radius: 0px;

}
.rectangle-3{
   
position: absolute;
height: 82px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFFF;
border-radius: 0px;

}
.rectangle-4{
       
box-sizing: border-box;

position: absolute;
height: 81px;
left: 0%;
right: 0%;
top: 0px;

border: 2px solid #1A1A1A;
border-radius: 0px;

    }
    .rectangle-5{
      
box-sizing: border-box;

position: absolute;
height: 81px;
left: 0%;
right: 0%;
top: 0px;

border: 2px solid #000000;
border-radius: 0px;

 }
 .rectangle-6{
      
position: absolute;
height: 108px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;

 }
 .rectangleM4{
    width: 320;
  }
.Menu1{

position: absolute;
height: 55px;
left: 83.75%;
right: 3.75%;
top: 15px;

}
.Menu1text{
   
position: absolute;
width: 145px;
height: 35px;
left: calc(50% - 145px/2 - 2.5px);
top: 9px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 34px;
/* or 155% */
text-align: center;

color: #000000;

}
.Menu1text:hover{
    font-weight: bold;
    transition: color 0.5s ease, text-shadow 0.5s ease;
    color: #1a582c; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.Menu2text:hover{
    font-weight: bold;
    transition: color 0.5s ease, text-shadow 0.5s ease;
    color: #1a582c; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.Menu3text:hover{
    font-weight: bold;
    transition: color 0.5s ease, text-shadow 0.5s ease;
    color: #1a582c; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.Menu4text:hover{
    font-weight: bold;
    transition: color 0.5s ease, text-shadow 0.5s ease;
    color: #1a582c; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.Menu5text:hover{
    font-weight: bold;
    transition: color 0.5s ease, text-shadow 0.5s ease;
    color: #1a582c; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.Menu6text:hover{
    font-weight: bold;
    transition: color 0.5s ease, text-shadow 0.5s ease;
    color: #1a582c; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.Menu2{
    
position: absolute;
height: 81px;
left: 68.75%;
right: 18.54%;
top: 1px;

}
.Menu2text{
  
position: absolute;
width: 96px;
height: 35px;
left: calc(50% - 96px/2 + 0.5px);
top: 23px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 34px;
/* or 155% */
text-align: center;

color: #000000;

}
.Menu3{
    
position: absolute;
height: 81px;
left: 43.54%;
right: 43.75%;
top: 1px;


    }
    .Menu3text{
    
position: absolute;
width: 70px;
height: 35px;
left: calc(50% - 70px/2 + 0.5px);
top: 23px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 34px;
/* or 155% */
text-align: center;

color: #000000;
    
    }

    .Menu4{
    
position: absolute;
height: 108px;
left: 4.72%;
right: 86.25%;
top: -19px;
        
            }
            .Menu4text{
           
position: absolute;
height: 109px;
left: 0%;
right: 4.62%;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 69px;
line-height: 108px;
/* identical to box height, or 157% */

color: #000000;
            
            }
.rectangle-7{

box-sizing: border-box;

position: absolute;
height: 81px;
left: 0%;
right: 0%;
top: 0px;

border: 2px solid #1A1A1A;
border-radius: 0px;

 }
.Menu5{
   
position: absolute;
height: 81px;
left: 30.97%;
right: 56.32%;
top: 1px;

}
.Menu5text{

position: absolute;
width: 38px;
height: 35px;
left: calc(50% - 38px/2 + 0.5px);
top: 23px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 34px;
/* or 155% */
text-align: center;

color: #000000;

}

.rectangle-8{

box-sizing: border-box;

position: absolute;
height: 81px;
left: 0%;
right: 0%;
top: 0px;

border: 2px solid #000000;
border-radius: 0px;
    
     }
    .Menu6{
    
position: absolute;
height: 81px;
left: 56.11%;
right: 31.11%;
top: 1px;

    }
    .Menu6text{

position: absolute;
width: 86px;
height: 35px;
left: calc(50% - 86px/2);
top: 23px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 34px;
/* or 155% */
text-align: center;

color: #000000;

    }
    .rectangle-9{

position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 30px;

             }

.Frame1{
    margin: 0 auto;
position: absolute;
height: 720px;
left: 0%;
right: 0%;
top: 97px;
max-width: 1440px;
width: 100%;
display: flex;
justify-content: center;
}
.Frame1-1{

position: absolute;
height: 130px;
left: 9.03%;
right: 11.81%;
top: 366px

}
.Frame1-1text{
    
position: absolute;
height: 131px;
left: 0%;
right: 6.05%;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 84px;
line-height: 130px;
/* identical to box height, or 155% */

color: #000000;

}
.Frame1-1Rectangle{
   
position: absolute;
height: 130px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;

}
.Frame1-png{
   
position: absolute;
height: 578px;
left: 57.78%;
right: 8.33%;
top: 71px;
background: url(Images/image21.png);
border-radius: 0px;

}
.Frame1-2{  

position: absolute;
height: 55px;
left: 8.89%;
right: 77.22%;
top: 471px;

 }
 .Frame1-2text{  

position: absolute;
width: 179px;
height: 28px;
left: calc(50% - 179px/2 + 0.5px);
top: 14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 28px;
/* identical to box height, or 164% */
text-align: center;

color: #000000;
    
     }
.Frame1-2Rectangle{
   
position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 30px;

}
.Frame1-3{
    
position: absolute;
height: 17px;
left: 22.71%;
right: 73.47%;
top: 490px;

}
.Frame1-3Rectangle{
 
position: absolute;
height: 17px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;

}
.Frame1-3vector{
   
position: absolute;
height: 17px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;
    
}
.Frame1-3v1{
  
position: absolute;
left: 80.26%;
right: 1.97%;
top: 50%;
bottom: 4.17%;

border: 0px solid #000000;

}
.Frame1-3v2{
   
position: absolute;
left: 80.26%;
right: 1.97%;
top: 4.17%;
bottom: 50%;

border: 0px solid #000000;

}
.Frame1-3v3{

position: absolute;
left: 1.32%;
right: 1.32%;
top: 50%;
bottom: 50%;

border: 0px solid #000000;

}

.Frame2{
    margin: 0 auto;
position: absolute;
height: 620px;
left: 0%;
right: 0%;
top: 967px;
max-width: 1440px;
width: 100%;
display: flex;
justify-content: center;
}
.Frame2-1{
    
position: absolute;
height: 110px;
left: 30.56%;
right: 50%;
top: 510px;

}
.Frame2-1Rectangle{
        
position: absolute;
height: 110px;
left: 0%;
right: 0%;
top: 0px;

background: #FFBCBC;
border-radius: 0px;
    
    }
.Frame2-1text{
    
position: absolute;
width: 121px;
height: 28px;
left: calc(50% - 121px/2 + 0.5px);
top: 41px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 155% */
text-align: center;

color: #000000;

    }
.Frame2-png1{
    
position: absolute;
height: 620px;
left: 0.07%;
right: 49.93%;
top: 0px;

background: url(Images/image2.jpg);
border-radius: 0px;

}
.Frame2-2{
    
position: absolute;
height: 110px;
left: 80.56%;
right: 0%;
top: 510px;
    
    }
    .Frame2-2Rectangle{
                
position: absolute;
height: 110px;
left: 0%;
right: 0%;
top: 0px;

background: #FFBCBC;
border-radius: 0px;

        }
    .Frame2-2text{
    
position: absolute;
width: 91px;
height: 28px;
left: calc(50% - 91px/2 + 0.5px);
top: 41px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 155% */
text-align: center;

color: #000000;

        }
    .Frame2-png2{
     
position: absolute;
height: 620px;
left: 50%;
right: 0%;
top: 0px;

    background: url(Images/image3.jpg);
    border-radius: 0px;
    
    }
.Frame2Rectangle{
 
position: absolute;
height: 620px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFFF;
border-radius: 0px;

}

.Frame3{
    margin: 0 auto;
position: absolute;
height: 75px;
left: 0%;
right: 0%;
top: 1762px;
max-width: 1440px;
width: 100%;
display: flex;
justify-content: center;
}
.Frame3Rectangle{
    
position: absolute;
height: 2px;
left: -100%;
right: -100%;
top: 71px;

background: #000000;
border-radius: 0px;

}
.Frame3Rectangle2{
    
position: absolute;
height: 75px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFFF;
border-radius: 0px;

    }
.Frame3-1{
   
position: absolute;
height: 55px;
left: 81.88%;
right: 4.24%;
top: 17px;

}
.Frame3-1text{
       
position: absolute;
width: 179px;
height: 28px;
left: calc(50% - 179px/2 + 0.5px);
top: 14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 28px;
/* identical to box height, or 164% */
text-align: center;

color: #000000;
    
 }
 .Frame3-1Rectangle{
   
position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;

 }
 .Frame3-2{
   
position: absolute;
height: 108px;
left: 4.58%;
right: 62.22%;
top: -29px;


    }
    .Frame3-2text{
    
position: absolute;
height: 109px;
left: 0%;
right: 3.81%;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 108px;
/* identical to box height, or 155% */

color: #000000;

     }
     .Frame3-2Rectangle{
    
position: absolute;
height: 108px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;

     }
.Frame4{
    margin: 0 auto;
position: absolute;
height: 367.36px;
left: 0%;
right: 0%;
top: 1932px;
max-width: 1440px;
width: 100%;
display: flex;
justify-content: center;
}
.Frame4-1{
   
position: absolute;
width: 453.33px;
height: 367.36px;
left: calc(50% - 453.33px/2 + 473.32px);
top: 0px;

}
.Frame4-1-1{
   
position: absolute;
height: 113.5px;
left: 0%;
right: 0%;
top: 253.86px;

}
.Frame4-1-1text{

position: absolute;
width: 67px;
height: 25px;
left: calc(50% - 67px/2 + 0.18px);
top: 54.14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 155% */
text-align: center;

color: #000000;

}
.Frame4-1-1text2{
    
position: absolute;
width: 115px;
height: 27px;
left: calc(50% - 115px/2 + 0.18px);
top: 20.14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 27px;
/* identical to box height, or 142% */
text-align: center;

color: #000000;

}
.Frame4-1-1-1{
   
position: absolute;
width: 34px;
height: 21px;
left: calc(50% - 34px/2 - 0.01px);
top: calc(50% - 21px/2 + 46.25px);

}
.Frame4-1-1-1text{

position: absolute;
width: 28px;
height: 22px;
left: calc(50% - 28px/2 + 8.69px);
top: calc(50% - 22px/2 + 0.14px);

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 154% */
text-align: center;

color: #000000;

}
.Frame4-1-1-1text2{

position: absolute;
width: 12px;
height: 22px;
left: calc(50% - 12px/2 - 11.31px);
top: calc(50% - 22px/2 + 0.14px);

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 135% */
text-align: center;

color: #000000;

}
.Frame4-1-2{

position: absolute;
height: 253.86px;
left: 0%;
right: 0%;
top: 0px;


}
.Frame4-1-2pic1{

position: absolute;
height: 254px;
left: 0.08%;
right: 0%;
top: 0px;

background: url(Images/image4.jpg);
border-radius: 0px;

}
.Frame4-1-2pic2{

position: absolute;
height: 254px;
left: 0.08%;
right: 0%;
top: 0px;

background: url(Images/image5.jpg);
border-radius: 0px;

}
.Frame4-2{
   
position: absolute;
width: 453.33px;
height: 367.36px;
left: calc(50% - 453.33px/2 - 0.01px);
top: 0px;
    
    }
    .Frame4-2-1{
    
position: absolute;
height: 113.5px;
left: 0%;
right: 0%;
top: 253.86px;
    
    }
    .Frame4-2-1-1{
  
position: absolute;
width: 37px;
height: 21px;
left: calc(50% - 37px/2 - 0.01px);
top: calc(50% - 21px/2 + 46.25px);

    }
    .Frame4-2-1-1text{
   
position: absolute;
width: 31px;
height: 22px;
left: calc(50% - 31px/2 + 8.52px);
top: calc(50% - 22px/2 + 0.14px);

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 135% */
text-align: center;

color: #000000;
    
    }
    .Frame4-2-1-1text2{
    
position: absolute;
width: 12px;
height: 22px;
left: calc(50% - 12px/2 - 12.98px);
top: calc(50% - 22px/2 + 0.14px);

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 135% */
text-align: center;

color: #000000;
    
    }
    .Frame4-2-2{
        
position: absolute;
height: 253.86px;
left: 0%;
right: 0%;
top: 0px;    
    
    }
    .Frame4-2-2pic1{
    
position: absolute;
height: 254px;
left: -0.07%;
right: 0.14%;
top: 0px;

background: url(Images/image6.jpg);
border-radius: 0px;

    }
    .Frame4-2-2pic2{
   
position: absolute;
height: 254px;
left: -0.07%;
right: 0.14%;
top: 0px;

background: url(Images/image7.jpg);
border-radius: 0px;

    }
    .Frame4-2-1text{
        
position: absolute;
width: 67px;
height: 25px;
left: calc(50% - 67px/2 - 0.49px);
top: 54.14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 155% */
text-align: center;

color: #000000;
        
        }
        .Frame4-2-1text2{
       
position: absolute;
width: 50px;
height: 27px;
left: calc(50% - 50px/2 + 0.01px);
top: 20.14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
/* identical to box height, or 135% */
text-align: center;

color: #000000;

        }
        .Frame4-3{
   
position: absolute;
width: 453.33px;
height: 367.36px;
left: calc(50% - 453.33px/2 - 473.34px);
top: 0px;
                
                }
                .Frame4-3-1{
                
position: absolute;
height: 113.5px;
left: 0%;
right: 0%;
top: 253.86px;
                
                }
                .Frame4-3-1-1{
              
position: absolute;
width: 29px;
height: 21px;
left: calc(50% - 29px/2 - 0.01px);
top: calc(50% - 21px/2 + 46.25px);

                }
                .Frame4-3-1-1text{
              
position: absolute;
width: 19px;
height: 22px;
left: calc(50% - 19px/2 + 4.84px);
top: calc(50% - 22px/2 + 0.14px);

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 135% */
text-align: center;
color: #000000;
                
                }
                .Frame4-3-1-1text2{
                
position: absolute;
width: 10px;
height: 22px;
left: calc(50% - 10px/2 - 9.66px);
top: calc(50% - 22px/2 + 0.14px);

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 135% */
text-align: center;

color: #000000;

                }
                .Frame4-3-2{
               
position: absolute;
height: 253.86px;
left: 0%;
right: 0%;
top: 0px;
                }
                .Frame4-3-2pic1{
                
position: absolute;
height: 254px;
left: 0%;
right: 0.07%;
top: 0px;

            background: url(Images/image8.jpg);
            border-radius: 0px;
            
                }
                .Frame4-3-2pic2{
               
position: absolute;
height: 254px;
left: 0%;
right: 0.07%;
            background: url(Images/image9.jpg);
            border-radius: 0px;
            
                }
                .Frame4-3-1text{
                 
position: absolute;
width: 67px;
height: 25px;
left: calc(50% - 67px/2 - 0.16px);
top: 54.14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 155% */
text-align: center;

color: #000000;
     
                    }
                    .Frame4-3-1text2{
                  
position: absolute;
width: 59px;
height: 27px;
left: calc(50% - 59px/2 - 0.16px);
top: 20.14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
/* identical to box height, or 135% */
text-align: center;

color: #000000;

                    }
            
.Frame5{
    margin: 0 auto; 
position: absolute;
height: 620px;
left: 0%;
right: 0%;
top: 2494px;
max-width: 1440px;
width: 100%;
display: flex;
justify-content: center;
}
.Frame5-1{
position: absolute;
height: 31px;
left: 49.93%;
right: 47.15%;
top: 280px;
}
.Frame5-1text{
    
position: absolute;
height: 31px;
left: 0%;
right: 0%;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 31px;
/* identical to box height, or 163% */

color: #000000;

}
.Frame5-1Rectangle{
   
position: absolute;
height: 31px;
left: 0%;
right: 0%;
top: 0px;
border-radius: 0px;

}
.Frame5-2{
    
position: absolute;
height: 120px;
left: 50%;
right: 29.86%;
top: 500px;
    }
.Frame5-2text{
    
position: absolute;
width: 156px;
height: 28px;
left: calc(50% - 156px/2);
top: 46px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 155% */
text-align: center;

color: #000000;

}
.Frame5-2Rectangle{
    
position: absolute;
height: 120px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;

}
.Frame5-3{
   
position: absolute;
height: 108px;
left: 49.93%;
right: 33.4%;
top: 293px;

}
.Frame5-3text{
    
position: absolute;
height: 109px;
left: 0%;
right: 2.92%;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 108px;
/* identical to box height, or 155% */

color: #000000;

}
.Frame5-3Rectangle{
    
position: absolute;
height: 108px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;

}
.Frame5Rectangle1{
    
position: absolute;
height: 120px;
left: 50%;
right: 29.86%;
top: 500px;

background: #FFBCBC;
border-radius: 0px;

}
.Frame5-4{
    
position: absolute;
height: 31px;
left: 50.14%;
right: 31.81%;
top: 400px;

}
.Frame5-4text{
 
position: absolute;
height: 31px;
left: 0%;
right: 1.54%;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 31px;
/* identical to box height, or 155% */

color: #000000;

}
.Frame5-4Rectangle{
    
position: absolute;
height: 31px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;

}
.Frame5Img{
  
position: absolute;
height: 620px;
left: 0%;
right: 55%;
top: 0px;

background: url(Images/image12.jpg);
border-radius: 0px;

}
.Frame5Generalrectangle{
   
position: absolute;
height: 620px;
left: 0%;
right: 0%;
top: 0px;

background: #AABAD0;
border-radius: 0px;

}
.Frame6{
    max-width: 1440px;
width: 100%;
display: flex;
justify-content: center;
margin: 0 auto;

position: absolute;
height: 75px;
left: 0%;
right: 0%;
top: 3309px;
}
.Frame6Rectangle1{
   
position: absolute;
height: 2px;
left: -88.89%;
right: -88.89%;
top: 71px;

background: #000000;
border-radius: 0px;

}
.Frame6-1{
    
position: absolute;
height: 55px;
left: 81.88%;
right: 4.24%;
top: 17px;
}
.Frame6-1text{
   
position: absolute;
width: 179px;
height: 28px;
left: calc(50% - 179px/2 + 0.5px);
top: 14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 28px;
/* identical to box height, or 164% */
text-align: center;

color: #000000;

}
.Frame6-1Rectangle{
    
position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;

}
.Frame6-2{
   
position: absolute;
height: 108px;
left: 4.58%;
right: 66.25%;
top: -29px;

}
.Frame6-2text{
    
position: absolute;
height: 109px;
left: 0%;
right: 16.67%;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 108px;
/* identical to box height, or 155% */

color: #000000;

}
.Frame6-2Rectangle{
   
position: absolute;
height: 108px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;

}

.Frame7{
    max-width: 1440px;
width: 100%;
display: flex;
justify-content: center;
margin: 0 auto;

position: absolute;
height: 367.36px;
left: 0%;
right: 0%;
top: 3459.36px;

}
.Frame7Img11{

position: absolute;
height: 254px;
left: 0.08%;
right: 0%;
top: -0.36px;

background: url(Images/image13.jpg);
border-radius: 0px;

}
.Frame7Img12{
    
position: absolute;
height: 254px;
left: 0.08%;
right: 0%;
top: -0.36px;

background: url(Images/image14.jpg);
border-radius: 0px;

}

.Frame7Img21{

    position: absolute;
    height: 254px;
    left: 0.08%;
    right: 0%;
    top: -0.36px;
    
    background: url(Images/image15.jpg);
    border-radius: 0px;
    
    }
    .Frame7Img22{
        
    position: absolute;
    height: 254px;
    left: 0.08%;
    right: 0%;
    top: -0.36px;
    
    background: url(Images/image16.jpg);
    border-radius: 0px;
    
    }

    .Frame7Img31{

        position: absolute;
        height: 254px;
        left: 0.08%;
        right: 0%;
        top: -0.36px;
        
        background: url(Images/image17.jpg);
        border-radius: 0px;
        
        }
        .Frame7Img32{
            
        position: absolute;
        height: 254px;
        left: 0.08%;
        right: 0%;
        top: -0.36px;
        
        background: url(Images/image18.jpg);
        border-radius: 0px;
        
        }

.Frame8{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
position: absolute;
height: 620px;
left: 0%;
right: 0%;
top: 4022px;
}
.Frame8img1{

position: absolute;
height: 620px;
left: 0.07%;
right: 49.93%;
top: 0px;

background: url(Images/image11.jpg);
border-radius: 0px;

}
.Frame8img2{

position: absolute;
height: 620px;
left: 50.07%;
right: -0.07%;
top: 0px;

    background: url(Images/image10.jpg);
    border-radius: 0px;
    
    }
.Frame9{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
position: absolute;
height: 75px;
left: 0%;
right: 0%;
top: 4837px;

}
.Frame9Rectangle{
   
position: absolute;
height: 2px;
left: -88.89%;
right: -88.89%;
top: 71px;

background: #000000;
border-radius: 0px;

}
.Frame9-1{
    
position: absolute;
height: 55px;
left: 85.07%;
right: 1.04%;
top: 17px;

}
.Frame9-1text{
    
position: absolute;
width: 85px;
height: 28px;
left: calc(50% - 85px/2 + 0.5px);
top: 13px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 28px;
/* identical to box height, or 164% */
text-align: center;

color: #000000;

}
.Frame9-1Rectangle{
    
position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;

}
.Frame9-2{

position: absolute;
height: 108px;
left: 4.58%;
right: 53.89%;
top: -29px;

}
.Frame9-2text{
 
position: absolute;
height: 109px;
left: 0%;
right: -1.34%;
top: 6px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 108px;
/* identical to box height, or 155% */

color: #000000;


}
.Frame9-2Rectangle{
  
position: absolute;
height: 108px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;

}

.Frame10{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
   
position: absolute;
height: 400px;
left: 0%;
right: 0%;
top: 4987px;

}
.Frame10-1{
    
position: absolute;
height: 137px;
left: 72.92%;
right: 0.07%;
top: 206px;

}

.Frame10v1{
   
position: absolute;
left: 71.63%;
right: 0.01%;
top: 0%;
bottom: 1.41%;

}
.Frame10v2{
  
position: absolute;
left: 42.02%;
right: 35.09%;
top: 0%;
bottom: 0.14%;

    }
    .Frame10v3{
   
position: absolute;
left: 31.84%;
right: 62.19%;
top: 0%;
bottom: 1.41%;

        }
        .Frame10v4{
   
position: absolute;
left: 0%;
right: 72.64%;
top: 0%;
bottom: 1.41%;

            }

.Frame10v5{
   
position: absolute;
left: 0%;
right: 0.01%;
top: 0%;
bottom: 0.14%;
    
            }
            .Frame10-2{
    
position: absolute;
height: 146px;
left: 0.28%;
right: 27.71%;
top: 208px;
                }
                .Frame10v6{
   
position: absolute;
left: 92.04%;
right: 0.08%;
top: 21.92%;
bottom: 1.37%;

 }
 .Frame10v7{
 
position: absolute;
left: 85.01%;
right: 8.04%;
top: 20.93%;
bottom: 22.3%;

}
.Frame10v8{
 
position: absolute;
left: 76.91%;
right: 16.45%;
top: 20.93%;
bottom: 22.3%;
    }
.Frame10v9{
 
position: absolute;
left: 68.34%;
right: 24.55%;
top: 20.93%;
bottom: 0.38%;

}
.Frame10v10{
   
position: absolute;
left: 60%;
right: 32.74%;
top: 20.93%;
bottom: 22.3%;

}
.Frame10v11{
  
position: absolute;
left: 52.75%;
right: 40.61%;
top: 0%;
bottom: 23.29%;

}
.Frame10v12{
   
position: absolute;
left: 43.79%;
right: 49.26%;
top: 20.93%;
bottom: 23.29%;

}
.Frame10v13{
    
position: absolute;
left: 37.92%;
right: 57.45%;
top: 20.93%;
bottom: 23.29%;
}
.Frame10v14{
    
position: absolute;
left: 29.11%;
right: 63.63%;
top: 21.62%;
bottom: 21.62%;

}
.Frame10v15{
    
position: absolute;
left: 20.47%;
right: 72.42%;
top: 0%;
bottom: 22.3%;

}
.Frame10v16{
    
position: absolute;
left: 11.98%;
right: 80.61%;
top: 20.93%;
bottom: 22.3%;

}
.Frame10v17{
    
position: absolute;
left: 0.02%;
right: 89.63%;
top: 0%;
bottom: 23.29%;

}
.Frame10-3{
  
position: absolute;
height: 121px;
left: 37.92%;
right: 0.07%;
top: 19px;
}
.Frame10v18{
   
position: absolute;
left: 94.34%;
right: 0.03%;
top: 28.02%;
bottom: 1.63%;
}
.Frame10v19{
   
position: absolute;
left: 83.64%;
right: 8.11%;
top: 29.27%;
bottom: 0.38%;

}
.Frame10v20{
   
position: absolute;
left: 72.85%;
right: 18.14%;
top: 28.02%;
bottom: 0.38%;

}
.Frame10v21{
   
position: absolute;
left: 68.06%;
right: 28%;
top: 1.63%;
bottom: 1.63%;

}
.Frame10v22{
   
position: absolute;
left: 57.18%;
right: 33.81%;
top: 28.02%;
bottom: 0.38%;

}
.Frame10v23{
   
position: absolute;
left: 44.8%;
right: 44.13%;
top: 0.38%;
bottom: 0.38%;

}
.Frame10v24{

position: absolute;
left: 34.77%;
right: 57.16%;
top: 28.02%;
bottom: 0.38%;
}
.Frame10v25{
   
position: absolute;
left: 29.89%;
right: 66.17%;
top: 1.63%;
bottom: 1.63%;
}
.Frame10v26{
    
position: absolute;
left: 22.77%;
right: 71.61%;
top: 28.02%;
bottom: 1.63%;
}
.Frame10v27{
   
position: absolute;
left: 12.36%;
right: 79.57%;
top: 28.02%;
bottom: 0.38%;
}
.Frame10v28{
    
position: absolute;
left: 0.07%;
right: 88.86%;
top: 0.38%;
bottom: 0.38%;
}
.Frame10-4{
   
position: absolute;
height: 139px;
left: 0.21%;
right: 62.78%;
top: 2px;
}
.Frame10v29{
    
position: absolute;
left: 82.78%;
right: 0%;
top: 26.9%;
bottom: 0.14%;

}
.Frame10v30{

position: absolute;
left: 54.22%;
right: 18.68%;
top: 28.17%;
bottom: 1.41%;

}
.Frame10v31{
    
position: absolute;
left: 35.53%;
right: 47.26%;
top: 26.9%;
bottom: 0.14%;

}
.Frame10v32{
   
position: absolute;
left: 23.07%;
right: 65.94%;
top: 26.9%;
bottom: 1.41%;

}
.Frame10v33{
   
position: absolute;
left: 0%;
right: 79.85%;
top: 0%;
bottom: 1.41%;

}
.Frame11{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
position: absolute;
height: 490px;
left: 0%;
right: 0%;
top: 5582px;

}
.Frame11-1{
    
position: absolute;
height: 330px;
left: 9.65%;
right: 57.71%;
top: 99px;

}
.Frame11-1text1{
    
position: absolute;
height: 120px;
left: 0%;
right: 0.64%;
top: 2px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */

color: #000000;

}
.Frame11-1text2{

position: absolute;
height: 180px;
left: 0%;
right: 0.43%;
top: 152px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */

color: #000000;

}
.Frame11-1Rectangle{
   
position: absolute;
height: 330px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;
}
.Frame11img{
    
position: absolute;
height: 490px;
left: 50%;
right: 20.83%;
top: 0px;

background: url(Images/image20.jpg);
border-radius: 0px;

}
.Frame11-2{
    
position: absolute;
height: 108px;
left: 9.51%;
right: 51.6%;
top: -29px;

}
.Frame11-2text{
   
position: absolute;
height: 109px;
left: 0%;
right: 4.46%;
top: 3px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 108px;
/* identical to box height, or 155% */

color: #000000;

}
.Frame11GeneralRectangle{
   
position: absolute;
height: 490px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFFF;
border-radius: 0px;

}
footer{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;    
position: absolute;
height: 490px;
left: 0%;
right: 0%;
top: 6222px;
}
.FooterRectangle{
    
position: absolute;
height: 490px;
left: 0%;
right: 0%;
top: 0px;

background: #AABAD0;
border-radius: 0px;

}
.FooterRecG{
   
position: absolute;
height: 2px;
left: -88.89%;
right: -88.89%;
top: 104px;

background: #000000;
border-radius: 0px;

}
.FooterRecV{
    
position: absolute;
height: 320px;
left: 65.35%;
right: 34.51%;
top: 105px;

background: #000000;
border-radius: 0px;

}
.FooterTop2{
    
position: absolute;
height: 27px;
left: 74.38%;
right: 4.1%;
top: 41px;

}
.FooterTop2text{
    white-space: nowrap;
position: absolute;
height: 28px;
left: 0%;
right: 0%;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 155% */
cursor: default;
color: #000000;

}
.FooterTop1text:hover{
    transition: color 0.5s ease, text-shadow 0.5s ease;    
    color: #032f38; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    
}
.FooterTop1{
    
position: absolute;
height: 108px;
left: 9.58%;
right: 81.39%;
top: -10px;
    
    }
    .FooterTop1text{
        white-space: nowrap;
position: absolute;
height: 109px;
left: 0%;
right: 4.62%;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 69px;
line-height: 108px;
/* identical to box height, or 157% */

color: #000000;

    }
    .Footerbase1{
    
position: absolute;
height: 27px;
left: 9.65%;
right: 67.43%;
top: 323px;

            }
            .Footerbase1text{
                white-space: nowrap;
position: absolute;
height: 28px;
left: 0%;
right: 0%;
top: -1px;
cursor: default;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 155% */
cursor: default;
color: #000000;

            }
            
.Footerbase2{
    
position: absolute;
height: 27px;
left: 11.67%;
right: 42.5%;
top: 354px;


            }
            .Footerbase2text{
                white-space: nowrap;
position: absolute;
height: 28px;
left: 0%;
right: 56.67%;
top: -1px;
cursor: default;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 155% */

color: #000000;

            }
.Footerbase3{
   
position: absolute;
height: 20px;
left: 9.72%;
right: 88.89%;
top: 358px;

}
.Footerbase3v{
    
position: absolute;
left: 6.25%;
right: 6.25%;
top: 6.25%;
bottom: 6.25%;

}
.Footerbase4{
    
position: absolute;
height: 31px;
left: 9.72%;
right: 83.89%;
top: 144px;
}
.Footerbase4text{
    white-space: nowrap;
position: absolute;
height: 31px;
left: 0%;
right: 34.29%;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 31px;
/* identical to box height, or 155% */

color: #000000;
}
.Footerbase4text:hover{
    transition: color 0.5s ease, text-shadow 0.5s ease;    
    color: #032f38; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.Footerbase5{
   
position: absolute;
height: 31px;
left: 25.62%;
right: 63.26%;
top: 142px;
    }
    .Footerbase5text{
        white-space: nowrap;
position: absolute;
height: 31px;
left: 0%;
right: 0%;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 31px;
/* identical to box height, or 155% */

color: #000000;

    }
.Footerbase5text:hover{
    transition: color 0.5s ease, text-shadow 0.5s ease;    
    color: #032f38; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.Footerbase6{
           
position: absolute;
height: 31px;
left: 47.85%;
right: 41.04%;
top: 142px;

}
.Footerbase6text{
    white-space: nowrap;
position: absolute;
height: 31px;
left: 0%;
right: 71.88%;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 31px;
/* identical to box height, or 155% */

color: #000000;
}    
.Footerbase6text:hover{
    transition: color 0.5s ease, text-shadow 0.5s ease;    
    color: #032f38; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.Footerbase7{
     
position: absolute;
height: 27px;
left: 9.72%;
right: 79.86%;
top: 186px;
    
    }
    .Footerbase7text{
        white-space: nowrap;
position: absolute;
height: 28px;
left: 0%;
right: 79.33%;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 155% */

color: #000000;
 }
.Footerbase7text:hover{
    transition: color 0.5s ease, text-shadow 0.5s ease;    
    color: #032f38; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

 .Footerbase8{
     
position: absolute;
height: 27px;
left: 9.72%;
right: 79.86%;
top: 223px;

        }
        .Footerbase8text{
            white-space: nowrap;
position: absolute;
height: 28px;
left: 0%;
right: 62%;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 155% */

color: #000000;
     }
.Footerbase8text:hover{
    transition: color 0.5s ease, text-shadow 0.5s ease;    
    color: #032f38; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
     .Footerbase9{
     
position: absolute;
height: 27px;
left: 9.72%;
right: 79.86%;
top: 260px;
        
                }
                .Footerbase9text{
                    white-space: nowrap;
position: absolute;
height: 28px;
left: 0%;
right: 62.67%;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 28px;
/* identical to box height, or 164% */

color: #000000;
             }
.Footerbase9text:hover{
    transition: color 0.5s ease, text-shadow 0.5s ease;    
    color: #032f38; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.Footerbase10{
  
position: absolute;
height: 27px;
left: 25.62%;
right: 63.96%;
top: 184px;
        
                }
  .Footerbase10text{
    white-space: nowrap;
position: absolute;
height: 28px;
left: 0%;
right: 77.33%;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 155% */

color: #000000;
             }
.Footerbase10text:hover{
    transition: color 0.5s ease, text-shadow 0.5s ease;    
    color: #032f38; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
            .Footerbase11{
 
position: absolute;
height: 27px;
left: 25.62%;
right: 57.01%;
top: 221px;
        
                }
  .Footerbase11text{
    white-space: nowrap;
position: absolute;
height: 28px;
left: 0%;
right: 0%;
top: -1px;
cursor: default;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 155% */

color: #000000;

             }
             .Footerbase12{
 
position: absolute;
height: 27px;
left: 25.62%;
right: 63.96%;
top: 258px;
                }
  .Footerbase12text{
  /* Fit guide */
  white-space: nowrap;
position: absolute;
height: 28px;
left: 0%;
right: 0%;
top: -1px;
cursor: default;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 155% */

color: #000000;


             }
             .Footerbase13{
 
position: absolute;
height: 27px;
left: 47.85%;
right: 34.79%;
top: 183px;
                }
  .Footerbase13text{
    white-space: nowrap;
position: absolute;
height: 28px;
left: 0%;
right: 2.8%;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 28px;
/* identical to box height, or 164% */

color: #000000;

             }
.Footerbase13text:hover{
    transition: color 0.5s ease, text-shadow 0.5s ease;    
    color: #032f38; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
            .Footerbase14{
 
position: absolute;
height: 27px;
left: 47.85%;
right: 35.49%;
top: 220px;

                }
  .Footerbase14text{
    white-space: nowrap;
position: absolute;
height: 28px;
left: 0%;
right: 24.17%;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 155% */

color: #000000;

             }
.Footerbase14text:hover{
    transition: color 0.5s ease, text-shadow 0.5s ease;    
    color: #032f38; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
             .Footerbase15{
 
position: absolute;
height: 27px;
left: 68.06%;
right: 13.96%;
top: 290px;
                }
  .Footerbase15text{
    white-space: nowrap;
position: absolute;
height: 28px;
left: 0%;
right: 3.47%;
top: -1px;
cursor: default;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 155% */

color: #000000;

             }
             .Footerbase16{
 
position: absolute;
height: 50px;
left: 68.33%;
right: 12.92%;
top: 144px;

                }
  .Footerbase16text{
    white-space: nowrap;
position: absolute;
height: 51px;
left: 0%;
right: 9.26%;
top: 1px;
cursor: default;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* or 140% */

color: #000000;
             }
             .Footerbase17{
 
position: absolute;
height: 36px;
left: 9.65%;
right: 64.65%;
top: 430px;

                }
  .Footerbase17text{
    white-space: nowrap;
position: absolute;
height: 38px;
left: 0%;
right: 0%;
top: 1px;
cursor: default;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
/* or 155% */

color: #000000;

             }
             .Footerbase18{
 
position: absolute;
height: 27px;
left: 68.12%;
right: 7.57%;
top: 323px;
                }
  .Footerbase18text{
    white-space: nowrap;
position: absolute;
height: 28px;
left: 0%;
right: 38.57%;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 28px;
/* identical to box height, or 164% */

color: #000000;

             }
.Footerbase18text:hover{
    transition: color 0.5s ease, text-shadow 0.5s ease;    
    color: #032f38; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
             .Footerbase19{
 
position: absolute;
height: 27px;
left: 68.12%;
right: 7.57%;
top: 355px;
                }
  .Footerbase19text{
    white-space: nowrap;
position: absolute;
height: 28px;
left: 0%;
right: 46.29%;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 155% */

color: #000000;

             }
.Footerbase19text:hover{
    transition: color 0.5s ease, text-shadow 0.5s ease;    
    color: #032f38; /* Новый цвет текста при наведении */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.FooterDown{
    
position: absolute;
height: 18px;
left: 9.72%;
right: 44.44%;
top: 410px;
cursor: default;
}
.FooterDownRec1{
    /* Rectangle */

position: absolute;
height: 1px;
left: 27.58%;
right: 62.27%;
top: 16.72px;

background: #000000;
}
.FooterDownRec2{
position: absolute;
height: 1px;
left: 43.33%;
right: 44.39%;
top: 16.72px;

background: #000000;
}
.FooterDownRec3{
position: absolute;
height: 1px;
left: 56.52%;
right: 35.91%;
top: 16.72px;

background: #000000;
}
.FooterDownRec4{

position: absolute;
height: 1px;
left: 38.64%;
right: 57.58%;
top: 16.72px;

background: #000000;
}
.FooterDownRec5{
position: absolute;
height: 1px;
left: 21.52%;
right: 73.33%;
top: 16.72px;

background: #000000;

}
.Footercomma1{
   
position: absolute;
height: 19px;
left: 55.61%;
right: 43.48%;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
/* identical to box height, or 155% */

color: #000000;

}
.Footercomma2{
   
position: absolute;
height: 19px;
left: 42.42%;
right: 56.67%;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
/* identical to box height, or 155% */

color: #000000;

}
.Footercomma3{
   
position: absolute;
height: 19px;
left: 37.73%;
right: 61.36%;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
/* identical to box height, or 155% */

color: #000000;

}
.Footercomma4{
    
position: absolute;
height: 19px;
left: 26.67%;
right: 72.42%;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
/* identical to box height, or 155% */

color: #000000;

}
.Footerdowntext{
    white-space: nowrap;
position: absolute;
height: 19px;
left: 0%;
right: 77.58%;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
/* identical to box height, or 155% */

color: #000000;

}
.Footerdown1{
 
position: absolute;
height: 16px;
left: 56.52%;
right: 35.91%;
top: 1px;
                    }
      .Footerdown1text{
        white-space: nowrap;
position: absolute;
height: 19px;
left: 0%;
right: 0%;
top: -2px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
/* identical to box height, or 155% */

color: #000000;
                 }
                 .Footerdown2{
 
position: absolute;
height: 16px;
left: 43.33%;
right: 43.94%;
top: 1px;

                    }
      .Footerdown2text{
        white-space: nowrap;
position: absolute;
height: 19px;
left: 0%;
right: -3.7%;
top: -2px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 19px;
/* identical to box height, or 169% */

color: #000000;

                 }
                 .Footerdown3{
 
position: absolute;
height: 16px;
left: 38.64%;
right: 57.58%;
top: 1px;
                    }
      .Footerdown3text{
        white-space: nowrap;
position: absolute;
height: 19px;
left: 0%;
right: 0%;
top: -2px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 19px;
/* identical to box height, or 169% */

color: #000000;
                 }
                 .Footerdown4{

position: absolute;
height: 16px;
left: 27.58%;
right: 61.36%;
top: 1px;

                    }
      .Footerdown4text{
        white-space: nowrap;
position: absolute;
height: 19px;
left: 0%;
right: 0%;
top: -2px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
/* identical to box height, or 155% */

color: #000000;

                 }
                 .Footerdown5{
 
position: absolute;
height: 16px;
left: 21.52%;
right: 73.33%;
top: 1px;

                    }
      .Footerdown5text{
        white-space: nowrap;
position: absolute;
height: 19px;
left: 0%;
right: 0%;
top: -2px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
/* identical to box height, or 155% */

color: #000000;
                 }
.FooterDownRight{
    
position: absolute;
height: 2px;
left: 68.54%;
right: 9.44%;
top: 242px;

background: #000000;
border-radius: 0px;

}
.FooterLogoInst{
  
position: absolute;
height: 30px;
left: 85.56%;
right: 12.36%;
top: 289px;

}

.FooterLogoInstv1{
   
position: absolute;
left: 12.49%;
right: 12.48%;
top: 12.42%;
bottom: 12.42%;

}
.FooterLogoInstv2{
  
position: absolute;
left: 37.46%;
right: 37.51%;
top: 37.4%;
bottom: 37.57%;

    }
    .FooterLogoFB{
  
position: absolute;
height: 30px;
left: 88.82%;
right: 9.1%;
top: 288px;

}
.FooterLogoFBv{
  
position: absolute;
left: 30.55%;
right: 30.55%;
top: 12.5%;
bottom: 12.51%;
    }
.language-select{

position: absolute;
width: 70px;
height: 60px;
left: 5%;
top: 120px;


}
.ThemeL{
   
position: absolute;
width: 70px;
height: 60px;
left: 12%;
top: 120px;

}
body.dark-theme {
    background-color: #434141;
    color: white;
}

body.dark-theme header {
    background-color: #1f1f1f;
}

body.dark-theme button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    
}
select {
    background-color: none; 
    color: rgb(0, 0, 0);
    padding: 10px; /* Внутренний отступ */
    font-size: 16px; /* Размер шрифта */
    border: 1px solid #ccc; /* Граница */
    border-radius: 4px; /* Скругленные углы */
    cursor: pointer; /* Курсор-указатель */
    transition: background-color 0.3s ease; /* Плавный переход цвета фона */
}
button.StyleBT{
    border: none;
    background: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button.StyleBT:hover{
    background-color: #45a049; /* Темно-зеленый фон при наведении */
    transform: scale(1.05); /* Легкое увеличение при наведении */
}
button.StyleB:hover{
    background-color: #459ba0; /* Темно-зеленый фон при наведении */
    transform: scale(1.05); /* Легкое увеличение при наведении */
}
.headerL{

position: absolute;
height: 75px;
left: 19.93%;
right: 71.18%;
top: 20px;

}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.privacy {
    margin-top: 10px;
}

.privacy input {
    margin-right: 10px;
}
button:hover{
    background-color: #2980b9;
}
button{
    border: none;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}
button.StyleB{
    border:none;
    background: none;
}

.slider-container {
    overflow: hidden;
    width: 95%;
    position: relative;
    /* Примерная высота контейнера */
}

.slider-track {
    display: flex;
    position: relative;
    animation: slideLeft 10s linear infinite; /* Анимация для движения слайдов */
}
.slide {
    flex: 0 0 33.333%; /* Ширина каждого слайда */
    box-sizing: border-box;
    padding: 10px;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0); /* Начальное положение - слайды не сдвинуты */
    }
    25% {
        transform: translateX(-65%); /* Сдвиг влево до края */
    }
    50% {
        transform: translateX(-65%); /* Слайды касаются края */
    }
    75% {
        transform: translateX(0); /* Сдвиг вправо, возвращение на начальное положение */
    }
    100% {
        transform: translateX(0); /* Возвращение в начальное положение */
    }
}
.Frame4-1, .Frame4-2, .Frame4-3 {
    display: none;
}

.Frame4-1.active, .Frame4-2.active, .Frame4-3.active {
    display: block;
}
.Frame4-1, .Frame4-2, .Frame4-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 24px;
}
.slide {
    position: absolute;
    top: 0;
    left: 900px;
    
    height: 100%;
    opacity: 0; /* Скрыть все слайды по умолчанию */
    transition: opacity 1.0s ease; /* Плавное появление слайдов */
}

.slide.active {
    opacity: 1; /* Показать активный слайд */
}