@media (max-width: 800px
) {
    body {
        max-width: 768px;
        overflow-x: hidden;
        margin: 0 auto;
    }
    .ThemeL{
        display: none;
    }
    .MenuHigh{
        position: absolute;
 width: 768px;
 height: 82px;
 left: 1px;
 top: 0px;   
     width: 100%;
     display: flex;
     justify-content: center;
     margin: 0 auto;
     }
     .mobile-only-content {
         display: block;         
 position: absolute;
 height: 80px;
 left: 92.45%;
 right: 0.13%;
 top: 1px;
 
     }
 .rectangleM1{
    
 width: 24px;
 height: 2px;
 background: #000000;
 
 /* Inside auto layout */
 flex: none;
 order: 0;
 flex-grow: 0;
 
 }
 .rectangleM2{
     
 width: 24px;
 height: 2px;
 
 background: #000000;
 
 /* Inside auto layout */
 flex: none;
 order: 1;
 flex-grow: 0;
 
 }
 .rectangleM3{
     
 width: 24px;
 height: 2px;
 
 background: #000000;
 
 /* Inside auto layout */
 flex: none;
 order: 2;
 flex-grow: 0;
 
 }
 .rectangleM4{
     
 position: absolute;
 height: 81px;
 left: 0%;
 right: 96.49%;
 top: 0px;
 width: 2px;
 background: #000000;
 border-radius: 0px;
 }
 .TABmenu{
     
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 0px;
 gap: 8px;
 
 position: absolute;
 width: 40px;
 height: 40px;
 left: 9px;
 top: 21px;
 
 background: rgba(0, 0, 0, 0.2);
 border-radius: 4px;
 
 }
 .Menu1{
     
 position: absolute;
 height: 55px;
 left: 78.39%;
 right: 9.11%;
 top: 14px;
 
 }
 .Menu1text{
     
 position: absolute;
 width: 145px;
 height: 35px;
 left: calc(50% - 145px/2 - 24.7px);
 top: 10px;
 
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 22px;
 line-height: 34px;
 /* or 155% */
 text-align: center;
 
 color: #000000;
 
 }
 
 .Menu2{
     display: none;
 }
 .Menu3{
     
 position: absolute;
 height: 81px;
 left: 43.54%;
 right: 43.75%;
 top: 1px;
 
 }
 .Menu3text{
    
 position: absolute;
 width: 70px;
 height: 35px;
 left: calc(50% - 70px/2 + 0.2px);
 top: 23px;
 
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 22px;
 line-height: 34px;
 /* or 155% */
 text-align: center;
 
 color: #000000;
 
 }
 .rectangle-5{
    
 box-sizing: border-box;
 
 position: absolute;
 height: 81px;
 left: 0%;
 right: 0%;
 top: 0px;
 
 border: 2px solid #000000;
 border-radius: 0px;
 
 }
 .Menu4{
    
 position: absolute;
 height: 108px;
 left: 4.69%;
 right: 76.69%;
 top: -19px;
 
 }
 .Menu4text{
     
 position: absolute;
 height: 109px;
 left: 0%;
 right: 4.62%;
 top: 0px;
 
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 69px;
 line-height: 108px;
 /* identical to box height, or 157% */
 
 color: #000000;
 
 }
 .Menu5{
    
 position: absolute;
 height: 81px;
 left: 30.97%;
 right: 56.32%;
 top: 1px;
 
 }
 .Menu5text{
    
 position: absolute;
 width: 38px;
 height: 35px;
 left: calc(50% - 38px/2 + 0.2px);
 top: 23px;
 
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 22px;
 line-height: 34px;
 /* or 155% */
 text-align: center;
 
 color: #000000;
 
 }
 .rectangle-7{
     
 box-sizing: border-box;
 
 position: absolute;
 height: 81px;
 left: 0%;
 right: 0%;
 top: 0px;
 
 border: 2px solid #1A1A1A;
 border-radius: 0px;
 
 }
 .Menu6{
    
 position: absolute;
 height: 81px;
 left: 56.11%;
 right: 31.11%;
 top: 1px;
 
 }
 .Menu6text{
     position: absolute;
 width: 86px;
 height: 35px;
 left: calc(50% - 86px/2 - 0.07px);
 top: 23px;
 
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 22px;
 line-height: 34px;
 /* or 155% */
 text-align: center;
 
 color: #000000;
 
 }
 
 .rectangle-8{
     
 box-sizing: border-box;
 
 position: absolute;
 height: 81px;
 left: 0%;
 right: 0%;
 top: 0px;
 
 border: 2px solid #000000;
 border-radius: 0px;
 
 }
.Frame1{
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
position: absolute;

height: 1180px;
left: 0%;
right: 0%;
top: 83px;

background: #FFFFFF;

}
.Frame1REC{
    
position: absolute;
width: 768px;
height: 1154px;
left: 0px;
top: 0px;

/* Primary */
background: #0B4141;
mix-blend-mode: normal;

}
.Frame1pic{
    
position: absolute;
width: 705px;
height: 540px;
left: 31px;
top: 50px;

border-radius: 121px;

}
.Frame1-1{
   
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;

position: absolute;
width: 479px;
height: 469px;
left: 144px;
top: 629px;


}

.Frame2{
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;

position: absolute;
width: 768px;
height: 1750px;
left: 0%;
right: 0%;
top: 1263px;

background: #FFFFFF;

}
.Frame2-1{
   
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 768px;
height: 1185px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.Frame2-2{
    
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 768px;
height: 517px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.Frame2-2T{
   
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 48px 96px 128px 160px;
gap: 32px;

width: 723px;
height: 517px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.Frame2-2Ttext1{
    /* Premium Quality */

width: 306px;
height: 144px;

/* H2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 68px;
line-height: 72px;
/* or 106% */

/* Primary */
color: #0B4141;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.Frame2-2Ttext2{
 
width: 467px;
height: 256px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */

/* Primary */
color: #0B4141;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.Frame3{
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
position: absolute;
width: 768px;
height: 495px;
left: 0%;
right: 0%;
top: 3013px;

background: #F5F5F5;
}
.Frame3T{
   
/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

position: absolute;
width: 768px;
height: 454px;
left: 0px;
top: 25px;

}
.Frame3Ttext1{
   
width: 755px;
height: 192px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 96px;
/* or 120% */
text-align: center;

/* Secondary */
color: #FFCCBC;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.Frame3Ttext2{
    
width: 749px;
height: 203px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */
text-align: center;

/* Primary */
color: #0B4141;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.Frame4{
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
position: absolute;
width: 767px;
height: 950px;
left: 0%;
right: 0%;
top: 3508px;

background: #FFFFFF;

}

.Frame4B{
    
position: absolute;
height: 110px;
left: 8.34%;
right: 8.21%;
top: 781px;

}
.Frame4Map{
    
position: absolute;
width: 640px;
height: 340px;
left: 64px;
top: 441px;

}
.Frame4T{
    
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;

position: absolute;
width: 506px;
height: 336px;
left: 131px;
top: 74px;

}



footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

position: absolute;
width: 768px;
height: 588px;
left: 0px;
top: 4458px;

}

.FooterRecV{
  
position: absolute;
height: 320px;
left: 59.77%;
right: 39.97%;
top: 106px;

background: #000000;
border-radius: 0px;

}
.FooterDownRight{
  
position: absolute;
height: 1px;
left: 60.03%;
right: 3.12%;
top: 237px;

background: #000000;
border-radius: 0px;

}
.FooterTop2{
   
position: absolute;
height: 27px;
left: 63.02%;
right: 4.43%;
top: 48px;

}
.FooterTop1{
   
position: absolute;
height: 108px;
left: 17.97%;
right: 65.1%;
top: -10px;

}
.Footerbase1{
    
position: absolute;
height: 27px;
left: 3.65%;
right: 53.39%;
top: 442px;

}
.FooterRectangle{
   
position: absolute;
width: 768px;
height: 588px;
left: 0px;
top: 0px;

background: #AABAD0;
border-radius: 0px;

}
.Footerbase2{
   
position: absolute;
height: 27px;
left: 7.42%;
right: 6.64%;
top: 473px;


}
.Footerbase3{
    
position: absolute;
height: 20px;
left: 3.78%;
right: 93.62%;
top: 477px;

}
.Footerbase4{
 
position: absolute;
height: 31px;
left: 3.65%;
right: 84.38%;
top: 145px;

}
.Footerbase5{
  
position: absolute;
height: 31px;
left: 33.46%;
right: 45.7%;
top: 143px;

}
.Footerbase6{
 
position: absolute;
height: 31px;
left: 3.78%;
right: 75.39%;
top: 315px;

}
.Footerbase7{

position: absolute;
height: 27px;
left: 3.65%;
right: 76.82%;
top: 187px;

}
.Footerbase8{
  
position: absolute;
height: 27px;
left: 3.65%;
right: 76.82%;
top: 224px;

}
.Footerbase9{
  
position: absolute;
width: 150px;
height: 27px;
left: 28px;
top: 261px;

}
.Footerbase10{
    
position: absolute;
height: 27px;
left: 33.46%;
right: 47.01%;
top: 185px;

}
.Footerbase11{
   
position: absolute;
height: 27px;
left: 33.46%;
right: 33.98%;
top: 222px;

}
.Footerbase12{

position: absolute;
height: 27px;
left: 33.46%;
right: 47.01%;
top: 259px;

}
.Footerbase13{
 
position: absolute;
height: 27px;
left: 3.65%;
right: 63.8%;
top: 355px;

}
.Footerbase14{
    
position: absolute;
height: 27px;
left: 3.65%;
right: 65.1%;
top: 392px;

}
.Footerbase15{
    
position: absolute;
height: 27px;
left: 61.2%;
right: 5.08%;
top: 289px;

}
.Footerbase16{
   
position: absolute;
height: 50px;
left: 61.72%;
right: 3.12%;
top: 143px;

}
.Footerbase17{
    
position: absolute;
height: 36px;
left: 3.65%;
right: 48.18%;
top: 549px;

}
.Footerbase18{
    
position: absolute;
height: 27px;
left: 61.33%;
right: -6.9%;
top: 322px;

}
.Footerbase19{
   
position: absolute;
height: 27px;
left: 61.33%;
right: -6.9%;
top: 354px;

}
.FooterDown{
    
position: absolute;
height: 18px;
left: 3.78%;
right: 10.29%;
top: 529px;
}

.FooterLogoFB{
    
position: absolute;
height: 30px;
left: 62.11%;
right: 33.98%;
top: 397px;


}
.FooterLogoInst{
    
position: absolute;
height: 30px;
left: 68.1%;
right: 27.99%;
top: 397px;

}

}

@media (max-width: 380px) 
{
    body {
        max-width: 320px;
        margin: 0 auto;
overflow-x: hidden;
    }
    .burger-menu-content {
        
        display: none;
        position: absolute;
        top: 60px;
        left: -10px;
        width: 300px;
        height: 440px;
        background-color: gray;
        border: 1px solid #ccc;
        z-index: 1000;
    }
    
.MenuHigh{
    position: absolute;

height: 82px;
left: 1px;
top: 0px;   
position: absolute;
width: 320px;
height: 167px;
left: 1px;
top: 0px;
}
    .mobile-only-content {
        cursor: pointer;
position: absolute;
height: 80px;
left: 0%;
right: 83.75%;
top: 79px;

    }
.rectangleM4{
    display: none; 
    box-sizing: border-box;
    
    position: absolute;
    height: 81px;
    left: 0%;
    right: 0%;
    top: 0px;
    
    border: 2px solid #1A1A1A;
    border-radius: 0px;
    
}
.rectangleM5{
   
box-sizing: border-box;

position: absolute;
height: 79px;
left: 0%;
right: 0%;
top: 1px;

border: 2px solid #1A1A1A;
border-radius: 0px;

}
.rectangleM6{
    
position: absolute;
height: 2px;
left: -90.31%;
right: -87.47%;
top: 157px;

background: #000000;
border-radius: 0px;

}
.TABmenu{
    
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 40px;
height: 40px;
left: 6px;
top: 21px;

background: rgba(0, 0, 0, 0.2);
border-radius: 4px;

}


.Menu1{
 
position: absolute;
height: 81px;
left: 43.44%;
right: 0%;
top: 0px;

}
.rectangle-9{
 
box-sizing: border-box;

position: absolute;
height: 81px;
left: 0%;
right: 0%;
top: 1px;

border: 2px solid #000000;
border-radius: 0px;

}
.Menu1text{
   
position: absolute;
width: 145px;
height: 35px;
left: calc(50% - 145px/2 + 6px);
top: 25px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 34px;
/* or 155% */
text-align: center;

color: #000000;

}
.Menu3{
position: absolute;
height: 81px;
left: 71.56%;
right: 0%;
top: 80px;
}
.Menu4{
    
position: absolute;
height: 108px;
left: 4.69%;
right: 51.56%;
top: -19px;

}
.Menu5{

position: absolute;
height: 80px;
left: 50.31%;
right: 27.81%;
top: 80px;

}
.Menu6{
 
position: absolute;
height: 81px;
left: 15.62%;
right: 49.06%;
top: 79px;

}
.rectangle-8{
  
box-sizing: border-box;

position: absolute;
height: 79px;
left: 0%;
right: 0%;
top: 1px;

border: 2px solid #000000;
border-radius: 0px;

}
.rectangle-7{
    
box-sizing: border-box;

position: absolute;
height: 79px;
left: 0%;
right: 0%;
top: 0px;

border: 2px solid #1A1A1A;
border-radius: 0px;

}
.rectangle-5{
    
box-sizing: border-box;

position: absolute;
height: 79px;
left: 0%;
right: 0%;
top: 0px;

border: 2px solid #000000;
border-radius: 0px;

}

.Frame1{
   
position: absolute;
width: 320px;
height: 930px;
left: 0%;
right: 0%;
top: 167px;
margin: 0 auto; 
background: #FFFFFF;

}

.Frame1REC{
    
position: absolute;
width: 320px;
height: 1415px;
left: 0px;
top: 0px;

/* Primary */
background: #0B4141;
mix-blend-mode: normal;

}

.Frame1pic{
    
position: absolute;
width: 275px;
height: 259px;
left: 31px;
top: 50px;

background: url(images/image188.png);
border-radius: 121px;

}

.Frame1-1{
    
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;

position: absolute;
width: 320px;
height: 589px;
left: 0px;
top: 322px;

}

.Frame1-2{
   
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 320px;
height: 487px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.Frame1-2text1{
   
width: 320px;
height: 181px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 68px;
line-height: 72px;
/* or 106% */
text-align: center;

/* Secondary */
color: #FFCCBC;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.Frame1-2text2{
    
width: 320px;
height: 288px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */
text-align: center;

/* Secondary */
color: #FFCCBC;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.Frame1Button{
   
box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 34px;
gap: 10px;

position: absolute;
width: 302px;
height: 54px;
right: 9px;
top: 535px;

/* Secondary */
border: 2px solid #FFCCBC;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;

}
.Frame2{
    
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;

position: absolute;
width: 320px;
height: 1565px;
left: 0%;
right: 0%;
top: 1097px;
margin: 0 auto;
background: #FFFFFF;

}
.Frame2-1ForPic{
   
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 96px 0px 160px;
gap: 10px;
isolation: isolate;

width: 320px;
height: 317px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.Frame2Pic{
    
position: absolute;
width: 303px;
height: 296px;
left: 8px;
top: 21px;

background: url(images/image127.png);
border-radius: 140px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;

}
.Frame2-1{
    
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 320px;
height: 925px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.Frame2-1T{
   /* Frame 114 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;
isolation: isolate;

width: 320px;
height: 630px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.Frame2-1T-1{
    
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 320px;
height: 618px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.Frame2-1T-1text2{
  
width: 310px;
height: 384px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */
text-align: center;

/* Primary */
color: #0B4141;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;

}
.Frame2-1T-1text1{
  
width: 320px;
height: 144px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 68px;
line-height: 72px;
/* or 106% */
text-align: center;

/* Secondary */
color: #FFCCBC;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;

}

.Frame2-1T-2{
  
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 167px;
height: 22px;
left: 71px;
top: 913px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;

}

.Frame2-2{
   /* Premium 3D Quality */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 320px;
height: 881px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.Frame2-2T{
  
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 48px 96px 128px 160px;
gap: 32px;
isolation: isolate;

width: 320px;
height: 593px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.Frame2-2Ttext1{
/* Premium Quality */

position: absolute;
width: 310px;
height: 144px;
left: 10px;
top: 972px;

/* H2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 68px;
line-height: 72px;
/* or 106% */
text-align: center;

/* Primary */
color: #0B4141;
}
.Frame2-2Ttext2{
    
position: absolute;
width: 310px;
height: 416px;
left: 0px;
top: 1124px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */
text-align: center;

/* Primary */
color: #0B4141;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;

}

.Frame3{
   
position: absolute;
width: 320px;
height: 850px;
left: 0%;
right: 0%;
top: 2662px;
margin: 0 auto;
background: #F5F5F5;

}

.Frame3T{
    
/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

position: absolute;
width: 320px;
height: 796px;
left: 0px;
top: 25px;

}
.Frame3Ttext1{
   
width: 318px;
height: 292px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 75px;
/* or 94% */
text-align: center;

/* Secondary */
color: #FFCCBC;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.Frame3Ttext2{
    
width: 310px;
height: 480px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */
text-align: center;

/* Primary */
color: #0B4141;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.Frame4{
   
position: absolute;
width: 320px;
height: 960px;
left: 0px;
top: 3512px;

background: #FFFFFF;

}
.Frame4B{
    
position: absolute;
height: 110px;
left: 1.56%;
right: 1.56%;
top: 826px;

}
.Frame4T{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    
    position: absolute;
    width: 310px;
    height: 472px;
    left: 5px;
    top: 14px;
    
    }
.Frame4Map{
    
position: absolute;
width: 310px;
height: 340px;
left: 5px;
top: 486px;


}
iframe {
    width: 310px;
    height: 340px;
}

.Frame4Ttext1{
   
position: absolute;
width: 310px;
height: 256px;
left: 0px;
top: 216px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */
text-align: center;

/* Primary */
color: #0B4141;

}
.Frame4Ttext2{
    
position: absolute;
width: 310px;
height: 216px;
left: calc(50% - 310px/2);
top: calc(50% - 216px/2 - 128px);

/* H2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 68px;
line-height: 72px;
/* or 106% */
text-align: center;

/* Primary */
color: #0B4141;


}

footer{
    
position: absolute;
width: 320px;
height: 914px;
left: 0px;
top: 4472px;
}
.FooterRectangle{
    
position: absolute;
height: 914px;
left: 0%;
right: 0%;
top: 0px;

background: #AABAD0;
border-radius: 0px;

}

.FooterDownRight{
   
position: absolute;
height: 2px;
left: 5%;
right: 6.56%;
top: 487px;

background: #000000;
border-radius: 0px;

}
.FooterRecV{
   
position: absolute;
height: 320px;
left: 4.38%;
right: 95%;
top: 356px;

background: #000000;
border-radius: 0px;

}

.FooterTop2{
    
position: absolute;
height: 27px;
left: 15%;
right: 6.88%;
top: 77px;

}
.FooterTop1{
   
position: absolute;
height: 108px;
left: 29.69%;
right: 29.69%;
top: -22px;

}
.Footerbase1{
   
position: absolute;
height: 27px;
left: 4.06%;
right: -7.19%;
top: 711px;

}
.Footerbase2{
   
position: absolute;
height: 27px;
left: 13.12%;
right: -119.38%;
top: 742px;

}
.Footerbase3{
    
position: absolute;
height: 20px;
left: 4.38%;
right: 89.38%;
top: 746px;

}
.Footerbase4{
   
position: absolute;
height: 31px;
left: 5%;
right: 66.25%;
top: 110px;

}
.Footerbase5{
    
position: absolute;
height: 31px;
left: 33.75%;
right: 16.25%;
top: 110px;

}
.Footerbase6{
   
position: absolute;
height: 31px;
left: 5.31%;
right: 44.69%;
top: 268px;

}
.Footerbase7{
   
position: absolute;
height: 27px;
left: 5%;
right: 48.12%;
top: 152px;

}
.Footerbase8{
   
position: absolute;
height: 27px;
left: 5%;
right: 48.12%;
top: 189px;

}
.Footerbase9{
   
position: absolute;
height: 27px;
left: 5%;
right: 48.12%;
top: 226px;

}

.Footerbase10{
    
position: absolute;
height: 27px;
left: 33.75%;
right: 19.38%;
top: 152px;

}
.Footerbase11{
    
position: absolute;
height: 27px;
left: 33.75%;
right: -11.88%;
top: 189px;

}
.Footerbase12{
    
position: absolute;
height: 27px;
left: 33.75%;
right: 19.38%;
top: 226px;

}
.Footerbase13{
   
position: absolute;
height: 27px;
left: 5%;
right: 16.88%;
top: 309px;

}
.Footerbase14{
   
position: absolute;
height: 27px;
left: 4.06%;
right: 20.94%;
top: 686px;

}
.Footerbase15{
    
position: absolute;
height: 27px;
left: 7.81%;
right: 11.25%;
top: 539px;

}
.Footerbase16{
    
position: absolute;
height: 50px;
left: 9.06%;
right: 6.56%;
top: 393px;

}
.Footerbase17{
   
position: absolute;
height: 36px;
left: 4.06%;
right: -19.69%;
top: 818px;

}
.Footerbase17text{
    
position: absolute;
height: 56px;
left: 0%;
right: 18.11%;
top: 23px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
/* or 155% */

color: #000000;

}
.Footerbase18{
      
position: absolute;
height: 27px;
left: 8.12%;
right: -17.5%;
top: 572px;

}
.Footerbase19{
   
position: absolute;
height: 27px;
left: 8.12%;
right: -17.5%;
top: 604px;

}
.FooterLogoFB{
    
position: absolute;
height: 30px;
left: 10%;
right: 80.62%;
top: 647px;

}
.FooterLogoInst{
   
position: absolute;
height: 30px;
left: 24.38%;
right: 66.25%;
top: 647px;

}
.FooterDown{
    position: absolute;
    width: 306px;
    height: 38px;
    left: 14px;
    top: 798px;
    
    }
.FooterDownRec1{
   
position: absolute;
width: 39.2px;
height: 1px;
left: 163.73px;
top: 16.72px;

background: #000000;

}
.FooterDownRec2{
    
position: absolute;
width: 77.25px;
height: 1px;
left: 209.85px;
top: 16.72px;

background: #000000;

}
.FooterDownRec3{
   
position: absolute;
width: 57.65px;
height: 1px;
left: 246.08px;
top: 36.72px;

background: #000000;

}
.FooterDownRec4{
    
position: absolute;
width: 93.4px;
height: 1px;
left: 145.77px;
top: 36.72px;

background: #000000;

}
.FooterDownRec5{
   
position: absolute;
width: 28.83px;
height: 1px;
left: 110.02px;
top: 36.72px;

background: #000000;

}
.Footerdowntext{
    position: absolute;
    width: 163.73px;
    height: 19px;
    left: 0px;
    top: -1px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 155% */
    
    color: #000000;
    
    }

.Footerdown1{
   
position: absolute;
width: 57.65px;
height: 16px;
left: 246.08px;
top: 21px;

}
.Footerdown2{
   
position: absolute;
width: 93.4px;
height: 16px;
left: 145.77px;
top: 21px;

}
.Footerdown3{
    
position: absolute;
width: 28.83px;
height: 16px;
left: 110.02px;
top: 21px;

}
.Footerdown4{
   
position: absolute;
width: 77.25px;
height: 16px;
left: 209.85px;
top: 1px;

}
.Footerdown5{
    
position: absolute;
width: 39.2px;
height: 16px;
left: 163.73px;
top: 1px;

}
.Footercomma1{
  
position: absolute;
width: 6.92px;
height: 19px;
left: 239.16px;
top: 19px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
/* identical to box height, or 155% */

color: #000000;

}
.Footercomma2{
    
position: absolute;
width: 6.92px;
height: 19px;
left: 138.85px;
top: 19px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
/* identical to box height, or 155% */

color: #000000;

}
.Footercomma3{
   
position: absolute;
width: 6.92px;
height: 19px;
left: 287.1px;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
/* identical to box height, or 155% */

color: #000000;

}
.Footercomma4{
    
position: absolute;
width: 6.92px;
height: 19px;
left: 202.93px;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
/* identical to box height, or 155% */

color: #000000;

}
.language-select{
 
    position: absolute;
    height: 60px;
    left: 5%;
    top: 160px;
    
    }
    
}